<%# parameter: service %>

<div
  class="card h-100 col"
  onclick="location.href='<%= service[`상세조회URL`] %>'"
>
  <div class="card-header text-dark">
    <%= `${service['부서명']}, ${service['소관기관명']}` %>
  </div>

  <div class="card-body text-dark">
    <h5 class="card-title"><%= service['서비스명'] %></h5>
    <p class="card-text"><%= service['서비스목적'] %></p>
  </div>

  <div class="card-footer">
    <small class="text-muted"> <%= service['신청방법'] %> </small>
  </div>
</div>
