<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include("./partial/common") %>
    <title>결과 확인하기</title>
</head>

<body>
  <%- include("./partial/navbar") %>

    <div class="container">
      <div class="lead">총 <%= serviceList.length %>개의 혜택을 찾았습니다.</div>

      <div class="row pt-5 gy-3">
        <% for(let i=0; i < serviceList.length; ++i) { %>
          <div class="col-md-4 px-3">
            <%- include('./partial/card', {service: serviceList[i]}) %>
          </div>
          <% } %>
      </div>
    </div>

    <%- include("./partial/footer") %>
</body>

</html>