<%# parameter: service %>

<%#
const MAX_LENGTH = 100;
service['서비스목적'] = service['서비스목적'].substring(0, MAX_LENGTH);
service['신청방법'] = service['신청방법'].substring(0,MAX_LENGTH);
%>

<div class="card h-100 col">
  <div class="card-header text-dark">
    <%= `${service['부서명']}, ${service['소관기관명']}` %>
  </div>

  <div class="card-body text-dark">
    <h5 class="card-title"><%= service['서비스명'] %></h5>
    <p class="card-text"><%= service['서비스목적'] %></p>
    <a href=<%= service['상세조회URL'] %> class="stretched-link"> </a> 
  </div>

  <div class="card-footer">
    <small class="text-muted"> <%= service['신청방법'] %> </small>
  </div>
</div>
