<%# parameter: service %>
    <div class="card h-100 w-100">
      <div class="card-header">
        <%= service['소관기관명'] %>
      </div>

      <div class="card-body">
        <h5 class="card-title">
          <%= service['서비스명'] %>
        </h5>

        <p class="card-text text-truncate">
          <%= service['서비스목적'] %>
        </p>

        <p class="card-text text-truncate">
          <strong>지원형태:</strong>
          <%= service['지원유형'] %></span>
        </p>

        <p class="card-text text-truncate">
          <strong>신청방법:</strong>
          <%= service['신청방법'] %>
        </p>

        <a href=<%=service['온라인신청사이트URL'] %> class="stretched-link"> </a>
      </div>

      <div class="card-footer">
        <small class="text-muted text-truncate">
          <%= service['수정일시'] %>에 수정됨
        </small>
      </div>
    </div>